<mat-card>
	<mat-toolbar>
		<mat-toolbar-row>
			<!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleLeftShell()"	*ngIf="isHandset$ | async"> -->
			<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleLeftShell()">
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<mat-icon class="icon">home</mat-icon>
			<span class="spacer"></span>
			<span>ngx-glow</span>
			<span class="spacer"></span>
			<button type="button" aria-label="Toggle theme" mat-icon-button [matMenuTriggerFor]="menu">
				<mat-icon aria-label="Theme nav toggle icon">settings</mat-icon>
			</button>
		</mat-toolbar-row>
	</mat-toolbar>
</mat-card>
<mat-menu #menu="matMenu">
	<div class="mat-menu-padder">
		<mat-icon class="icon">brightness_5</mat-icon>
		<mat-slide-toggle [(ngModel)]="useDarkTheme"></mat-slide-toggle>
		<mat-icon class="icon">brightness_2</mat-icon>
	</div>
</mat-menu>
