
@use './app/theme/themeExtensions' as extensions;
@use '~@angular/material' as mat;
@include mat.core();


$ngx-glow-primary: mat.define-palette(mat.$cyan-palette, 500);
$ngx-glow-accent: mat.define-palette(mat.$purple-palette, A200, A100, A400);
$ngx-glow-warn: mat.define-palette(mat.$red-palette);


$ngx-glow-theme: mat.define-light-theme((
  color: (
    primary: $ngx-glow-primary,
    accent: $ngx-glow-accent,
    warn: $ngx-glow-warn,
  )
));

$ngx-glow-dark-theme: mat.define-dark-theme((
  color: (
    primary: $ngx-glow-primary,
    accent: $ngx-glow-accent,
    warn: $ngx-glow-warn,
  )
));

$primary: map-get($ngx-glow-theme, primary, default);
$primary-darker: map-get($ngx-glow-theme, primary, darker);
$primary-lighter: map-get($ngx-glow-theme, primary, lighter);
$accent: map-get($ngx-glow-theme, accent, default);
$accent-darker: map-get($ngx-glow-theme, accent, darker);
$accent-lighter: map-get($ngx-glow-theme, accent, lighter);
$warn: map-get($ngx-glow-theme, warn);
$background: map-get($ngx-glow-theme, background, background);
$foreground: map-get($ngx-glow-theme, foreground, base);
$background-faded: fade-out($background,0.2);
// body:not(.glow-dark) * {
body * {
	@include mat.all-component-themes($ngx-glow-theme);
	@include extensions.extend($ngx-glow-theme);
}
body.glow-dark * {
	@include mat.all-component-colors($ngx-glow-dark-theme);
	@include extensions.extend($ngx-glow-dark-theme);
}

$gap-base: 10px;
$gap-l: calc($gap-base * 1.25);
$gap-m: $gap-base;
$gap-s: calc($gap-base * 0.75);
$gap-xs: calc($gap-base * 0.5);



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
//* {	transition: all 0.3s ease; }

.display-none {
	display: none;
}
