<div class="shell-container">
	<div class="grid-container">
		<mat-card class="header">
			<ng-content select="[header]"></ng-content>
		</mat-card>
		<mat-card class="left">
			<ng-content select="[left]"></ng-content>
		</mat-card>
		<mat-card class="main">
			<ng-content select="[main]"></ng-content>
		</mat-card>
		<mat-card class="right">
			<ng-content select="[right]"></ng-content>
		</mat-card>
		<mat-card class="footer">
			<ng-content select="[footer]"></ng-content>
		</mat-card>
	</div>

</div>
