@use '../../styles.scss' as style;

.shell-container {
	height: 100vh;
	width: 100vw;
	padding: style.$gap-l;
	box-sizing: border-box;
	// background-color: fade-out(style.$primary-darker, 0.4);
	// background-color: style.$primary-darker;
	// background-color: style.$background;
	background: linear-gradient(135deg, style.$primary, style.$accent);

	&::before {
		content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
		opacity: 1;
		background-attachment:fixed;
		background-image: url(/assets/images/slantedStrokes.svg);
		// background-image: url(/assets/images/protrudingSquares.svg);
		// background-image: url(/assets/images/diamondSunset.svg);
		// background-image: url(/assets/images/iconGridLight.svg);
		// background-image: url(/assets/images/iconGrid.svg);
		// background-image: url(/assets/images/iconGridDark.svg);
	}

}

.grid-container {
	//grid-area: 'gridcontainer';
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas:
    "header header header"
    "left main right"
    "footer footer footer";
	height: 100%;

	& > mat-card {
		padding: style.$gap-s;
	}
}



.header {
  grid-area: header;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0 0 style.$gap-m 0;
}
.left {
  grid-area: left;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin: 0 style.$gap-m 0 0;
}
.left.display-none {
	width: 0;
}

.main {
  grid-area: main;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: style.$gap-l;
	overflow-y: auto;
}
.right {
  grid-area: right;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	margin: 0 0 0 style.$gap-m;
}
.footer {
  grid-area: footer;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: style.$gap-m 0 0 0;
}
